In [1]:
import pyodbc
import streamlit as st
import pandas as pd

# Connection details
server = 'projectcinemaserver.database.windows.net'
database = 'cinemadatabase'
username = 'datasquad'
password = 'Homies@2024'
driver = '{ODBC Driver 18 for SQL Server}' 
encoding = 'utf-8'

# Connection string
conn_str = f'DRIVER={driver};SERVER={server};DATABASE={database};UID={username};PWD={password}'

# Connect to the database
conn = pyodbc.connect(conn_str)

query = 'SELECT * FROM Customer'
df = pd.read_sql(query, conn)

conn.close()
df

/var/folders/rq/kt0_4dp51fz3lbt5hp9__tl80000gp/T/ipykernel_7793/4087470441.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

,customerid,DOB,gender,Website,address,job,industry
0,0000000014,1999-04-20,N?,KH0104|0345,hoa khe quan thanh khe,student,computer
1,0000000034,1998-04-18,Nam,KH0104|0333,man thai,student,health service
2,0000000051,1993-12-18,Nam,KH0104|0255,que son quang nam,blue collar,economics
3,0000000081,1999-11-10,Nam,KH0104|0293,truong chinh,student,economics
4,0000000098,1994-10-03,Nam,KH0104|40580,c?m l?,blue collar,health service
...,...,...,...,...,...,...,...
2094,0001119259,1997-08-20,N?,KH0104|44349,liên chi?u,student,finance
2095,0001119260,1997-11-19,N?,KH0104|44342,ngu hành son,student,engineering
2096,0001119262,2003-07-29,N?,KH0104|44340,c?m l?,teenager,Unemployed
2097,0001119294,2000-09-10,N?,KH0104|37686,H?I CHÂU,teenager,Unemployed
2098,0001119295,2001-01-17,N?,KH0104|6125,mai lão b?ng,teenager,Unemployed